*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* reset */

h1{
    margin-bottom: 20px;

    text-align: center;
}

.container{
    background-color: rgba(0, 0, 0, 0.6);

    padding-bottom: 50px;
    margin: 0 auto;

    width: 80%;
}

#menu{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;

    height: 50px;
}

#menu button{
    padding: 10px 15px;

    border-radius: 15px;

    background-color: red;
}

.grid-container {
    position: relative;

    margin: 0 auto;

    width: 400px;

    text-align: center;
}


.grid-container #grid{
    display: flex;
    flex-wrap: wrap;

    width: 400px;
    height: 400px;

    border: 1px dotted rgb(84, 255, 84);

    border-radius: 15px;
}

#grid.no-events{
    pointer-events: none;
}

#grid .square{
    display: flex;
    justify-content: center;
    align-items: center;

    width: calc(100% / 10);
    height: calc(100% / 10);

    border: 1px solid black;

    border-radius: 15px;

    background-color: white;

    color: black;
}

#grid .square.medium{
    width: calc(100% / 9);
    height: calc(100% / 9);
}

#grid .square.small{
    width: calc(100% / 7);
    height: calc(100% / 7);
}

#grid .square.active{
    background-color: #7DD0FD;
}

#grid .square.bomb{
    background-color: red;
}

.grid-container #result{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    justify-content: center;
    align-items: center;

    width: 45%;
    height: 30%;

    border-radius: 10px;

    /* font-size: 2em; */

    background-color: rgba(255, 0, 0, 0.7);

    color: rgb(255, 247, 0);
}


/* media query */
@media screen and (min-width: 992px) {

    .grid-container{
        width: 600px;
    }

    .grid-container #grid{

        width: 600px;
        height: 600px;

    }

}
