*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* reset */

h1{
    margin-bottom: 20px;

    text-align: center;
}

.container {
    position: relative;

    margin: 0 auto;

    width: 1000px;

    text-align: center;

    background-color: #BDBDBD;
}

.container.medium{
   width: 900px;
}

.container.easy{
    width: 700px;
}

.container #menu{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;

    height: 50px;
}

.container #grid{
    display: flex;
    flex-wrap: wrap;
}

#grid.no-events{
    pointer-events: none;
}

#grid .square{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100px;
    height: 100px;

    border: 1px solid white;

    background-color: #BDBDBD;

    color: white;
}

#grid .square.active{
    background-color: aquamarine;
}

#grid .square.bomb{
    background-color: red;
}

.container #result{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    justify-content: center;
    align-items: center;

    width: 45%;
    height: 20%;

    border-radius: 10px;

    font-size: 2em;

    background-color: rgba(255, 0, 0, 0.7);

    color: rgb(255, 247, 0);
}

.try{
    pointer-events: none;
}
